providers:
  cpa-responses:
    baseUrl: <CPA_BASE_URL>
    apiKey: CPA_API_KEY
    # openai-completions, openai-responses, openai-codex-responses, azure-openai-responses, anthropic-messages, google-generative-ai, google-vertex
    api: openai-responses
    auth: apiKey
    models:
      - id: gpt-6-astra
        name: gpt-6-astra
        reasoning: true
        input: [text, image]
      - id: gpt-6.1-sol
        name: gpt-6.1-sol
        reasoning: true
        input: [text, image]
      - id: gpt-6-luna
        name: gpt-6-luna
        reasoning: true
        input: [text, image]
      - id: my-grok
        name: my-grok
        reasoning: true
        input: [text, image]
